CompileFlags:
  Add:
    - "--include-directory=/usr/include/qt6"
    - "--include-directory=/usr/include/qt6/QtCore"
    - "--include-directory=/usr/include/qt6/QtWidgets"
Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
